/*Diseño de botones para el alquiler de maquinas*/
.nuevoboton {
    position: relative;
    border: 2px solid #3d293f;
    color: #3d293f;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s; /* Cambiamos la transición para el color de fondo */
}

.nuevoboton:hover {
    background-color: #8f3d96; /* Cambiamos el color de fondo al pasar el ratón sobre el botón */
}

.nuevoboton span {
    position: relative; /* Cambiamos a posición relativa */
    z-index: 2; /* Aseguramos que el texto esté por encima del fondo */
}

.nuevoboton:after {
    content: "";
    background: #8f3d96;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 50px;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.8s;
}

.nuevoboton:hover:after {
    opacity: 1; /* Hacemos visible el fondo al pasar el ratón sobre el botón */
}


